#but{
    font-size: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    padding-left:  20px;
    padding-right: 20px;
  
}


#butt{
    font-size: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    padding-left:  20px;
    padding-right: 20px;
   margin-right: 1000px;
}


