.Nav{
   display: flex;
   flex-direction: row;
   border: 2px;
   border-style: solid;
    border-radius: 15px;
    padding: 1%;
    margin: 2%;
    margin-right: 58%;
    background-color: gray;
   
 }
 #NavContent{
   display: flex;
 }
 
 #NavButton{
  
    background-color: rgb(23, 176, 6);
    border-color: black;
    color: rgb(255, 255, 255);
    width: 40%;
    padding: 5px;
    margin-left: 1%;
    margin-right: 5px;
    font-size: large;
    border-radius: 5px;
 }
 .NavContainer{
 display: flex;
align-items: center;
  
 }
 #Delimput{
   background-color: red;
   font-size: large;
   margin-right: 6px;
   padding: 9px;
   border-radius: 5px;
 }
 #h{
  background-color: rgb(43, 150, 226);
  color: rgb(0, 0, 0);
  padding: 9px;
  border-radius: 25px;
  margin-left: 13px;
 }
 #f{
background-color: rgb(43, 150, 226);
color: rgb(60, 3, 38);
padding: 9px;
border-radius: 25px;
margin-left: 13px;
 }
 #a{
  background-color: rgb(43, 150, 226);
  color: rgb(0, 0, 0);
  padding: 9px;
border-radius: 25px
 }
 .Botones{
  display: flex;
  font-size: large;
  padding: 0px;
 }
 #c{
  font-size: 13px;
  background-color: rgb(211, 18, 60);
  color: rgb(0, 0, 0);
  padding: 13px;
  border-radius: 20px;
  margin-left: 680px;
 }

 